@media screen and (orientation:portrait) {
    #content{
        grid-template-rows: 60% 40%;
    }
    #image svg{
        height: 50vh;
    }
    img{
        height: 50vh;
    }
    html{
        overflow-y: visible;
    }
    #cont{
    width: 140;
    font-size: x-large;
    }
}
@media screen and (orientation:landscape) {
    #content{
        grid-template-columns: 60% 40%;
    }
    #image svg{
        height: 90vh;
    }
    img{
        height: 90vh;
    }
    html{
        overflow-y: hidden;
    }
    #cont{
    width: 70px;
    font-size: medium;
    }
}
html {
    margin: -10px;
    
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif; 
}
.wrap{
    display: block;
}
#open{
    text-align: center;
}
#bar{
    background-color: black;
    display: block;
    height: 50px;
}
#title{
    display: inline-block;
    font-size: xx-large;
}
#navi{
    display: inline-block;
    background-color: black;
    padding: 10px;
}
#navi:active{
    background-color: grey; 
}
#navi svg{
    fill:none;
    stroke:white;
    stroke-width: 3px;
}
#content{
    display: grid;
}
#image{
    display: flex;
    justify-content: center;
        align-items:center;
    background-color: lightgray;  
    overflow: hidden;
}
#image svg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
  
    transition: 0.3s;
}
#text{
    display: block;
    background-color: black;
    color: white;
    padding: 30px
}
#name{
    font-size: xx-large;
}
#desc{
    font-size: x-large;
}
#cont{
    display: none;
    background-color: lightgray;
    color: black;
    text-decoration: none;
 
    text-align: center;

}
#cont:active{
     background-color: grey;
}
#cont.on{
    display: inline-block;
}
#label{
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    opacity: 0;
    transition:  opacity 0.3s;
    text-align: center;
    font-size: x-large;
}
#label.off{
    opacity: 0;
}
#label.on{
    opacity: 1;
}